$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "variables";


// .timeline-modal {

// }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.img-small {
    width: 200px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.select-history {
    h5 {
        margin-bottom: 2px;
        color: $gray-light;
    }

    a {
      color: lighten($text-color, 10%);
      border-bottom: 1px dotted $text-color;
      @include transition(color 140ms ease);
      &:hover {
        text-decoration: none;
        color: $text-color;
      }
    }
}

.timeline-item {
    &:hover, 
    &.being-filtered {
        .tags {
            opacity: 1;  
        }
    }
    .tags {
        font-size: 0.8em;
        margin-top: -8px;
        opacity: 0.2; 
        @include transition(opacity 140ms ease);
        margin-bottom: 14px;
    }
}



iframe {
    max-width: 100%;
    display: block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    // .container {
    //     max-width: 730px;
    // }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.rule line.axis {
  stroke: #000;
}

path {
  fill: none;
  stroke-width: 1.5px;
}

circle {
  fill: #fff;
  stroke: #000;
}


.nvd3 .nv-groups .nv-line {
  fill: none;
  stroke-width: 1.5px;
  
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  // transition: stroke-width 250ms linear;
  // -moz-transition: stroke-width 250ms linear;
  // -webkit-transition: stroke-width 250ms linear;

  // transition-delay: 250ms
  // -moz-transition-delay: 250ms;
  // -webkit-transition-delay: 250ms;
  
}

.nvd3 .nv-groups path.nv-line.nv-thin-line {
  stroke-width: 1px;
}


.nvd3 .nv-groups path.nv-area {
  stroke: none;
  
  stroke-linecap: round;
  shape-rendering: geometricPrecision;

  // stroke-width: 2.5px;
  // transition: stroke-width 250ms linear;
  // -moz-transition: stroke-width 250ms linear;
  // -webkit-transition: stroke-width 250ms linear;

  // transition-delay: 250ms
  // -moz-transition-delay: 250ms;
  // -webkit-transition-delay: 250ms;
  
}

.nvd3 .nv-line.hover path {
  stroke-width: 6px;
}

.nvtooltip {
  h3 {
    padding: 2px 10px;
  }
}

.timeline-modal {
  margin-top: 100px;
}

.timeline-modal, .nvtooltip {
  border-right: 5px solid $gray-dark;
  border-bottom: 5px solid $gray-dark;
}

.tiny-circle {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
}





