$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import "variables";
@import "tooltips";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";


/* Custom page header */
.header {
    margin-bottom: 20px;
}

.container-header {
  //background: rgb(255, 169, 0);
  border-bottom: 1px solid $gray-lighter;
  background: lighten($gray-lighter, 2);
}

.row-tags {
  //background: $gray-lighter;
  padding: 10px 0;
  border-bottom: 1.2px solid $gray-lighter;
}

// typography
h1, h3, h4 {
  font-family: $font-family-serif;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}



// custom paragraph links
p a {
    color: lighten($text-color, 10%);
    border-bottom: 1px dotted $text-color;
    @include transition(color 140ms ease);
    &:hover {
        text-decoration: none;
        color: $text-color;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    font-size: 0.8em;
}

// ngClick 
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

// responsive embeds
iframe {
    max-width: 100%;
    display: block;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    // .container {
    //     max-width: 730px;
    // }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

// tags for filtering line chart
.tag.label {
  margin-right: 5px;
  display: inline-block;
}

.tag-not-active {
  margin-top: 8px;
}

.tag-active {

}

h5 {
  display: inline-block;
}

// tags which are active
.x-out {
  font-size: 20px;
}

// tags in blocks
.tiny-circle {
  min-width: 12px;
  min-height: 12px;
  display: inline-block;
  // border-radius: 50%;
  margin-right: 2px;
}

// ensure affixed items sit at top of parent element
.affix {
  top: 0;
}

// full width blocks, used for projects on home page
.a-block {
  min-height: 60px;
  background: $gray-lighter;
  border-bottom: 1px solid white;
  padding: 20px;

  &.striped {
    background: lighten($gray-lighter, 2);
  }

  h4, h5 {
    margin: 0;
  }

  p {
    margin-top: 10px;
    font-size: 0.9em;
  }

}

.a-year {
  background: white;
}