<div class="col-xs-4">
    <h5>Employee Handbook</h5>
    <a href="http://playbook.thoughtbot.com/">Link</a>
    <p>An opinionated, honest, and to the point reference for employees. Insight into many industry best practices.</p>
</div>

<div class="col-xs-4">
    <h5>Design Sprints for App Development</h5>
    <a href="http://robots.thoughtbot.com/the-product-design-sprint">Link</a>
    <p>Applying the design process to agile development.</p>
</div>

<div class="col-xs-4">
    <h5>Developing MVPs</h5>
    <a href="http://37signals.com/svn/posts/2963-what-happens-to-user-experience-in-a-minimum-viable-product">Link</a>
    <p>MVP's can (and should) provide a solid user experience.</p>
</div>

<div class="col-xs-4">
    <h5>Lean Startup</h5>
    <a href="http://theleanstartup.com/">Link</a>
    <p>MVPs should prove your riskiest assumptions, your growth strategy, and your value, using the least amount of resources and effort.</p>
</div>

<div class="col-xs-4">
    <h5>Teaching how to play, though play</h5>
    <a href="http://auntiepixelante.com/?p=465">Link</a>
    <p>A great account of how the first level of Mario teaches you the rules of the game without explicitly telling you the rules.</p>
</div>

<div class="col-xs-4">
    <h5>How to pitch anything</h5>
    <a href="http://pitchanything.com/">Link</a>
    <p>A simple method for pitching anything - useful in any business or life negotiation.</p>
</div>
