<div class="col-xs-4">
    <h5>AngularJS Directives</h5>
    <iframe width="560" height="180" src="//www.youtube.com/embed/UMkd0nYmLzY?rel=0" frameborder="0" allowfullscreen></iframe>
<!--     <a href="http://www.youtube.com/watch?v=UMkd0nYmLzY">Link</a>
 -->    <p>One of clearest explinations on one of the hardest things to understand in AngularJS: Directives.</p>
</div>

<div class="col-xs-4">
    <h5>Writing unit testable code</h5>
<!--     <a href="http://www.youtube.com/watch?v=ou-3iYMl63I">Link</a>
 -->    <iframe width="560" height="180" src="//www.youtube.com/embed/ou-3iYMl63I?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>Why you should (and how to) write modular testable, testable code.</p>
</div>

<div class="col-xs-4">
    <h5>MongoDB</h5>
    <a href="https://blog.serverdensity.com/mongodb-schema-design-pitfalls/">Link</a>
    <p>Mongo's strength isn't a lack of schema, its a lack or normalization.</p>
</div>

<div class="col-xs-4">
    <h5>Openframeworks</h5>
    <a href="https://sites.google.com/site/ofauckland/examples">Link</a>
    <p>Wealth of OpenFrameworks examples, great for beginners and pros alike.</p>
</div>

<div class="col-xs-8">
    <h5>EyeWriter</h5>
    <!-- <a href="https://vimeo.com/6376466">Link</a> -->
    <iframe src="//player.vimeo.com/video/6376466?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/6376466">The Eyewriter</a> from <a href="http://vimeo.com/fi5e">Evan Roth</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
    <p>The project that got me started in OpenFrameworks development.</p>
</div>
