<div class="col-xs-5">
    <h5>Systems cultivate creativity</h5>
    <a href="http://www.legofoundation.com/en-us/research-and-learning/foundation-research/">
        <img class="img-responsive" src="images/work/buildplaylearn/process/buildplaylearn-lego.jpg">
    </a>
    <p>Learn how the LEGO system of play cultivates creativty in a systematic way.</p>
</div>
<div class="col-xs-7">
    <h5>Systems for drawing</h5>
    <!-- <a href="http://www.youtube.com/watch?v=zqcsYOSL_vo">Link</a> -->
    <iframe width="560" height="315" src="//www.youtube.com/embed/zqcsYOSL_vo?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>Systematic creativity meets drawing = Ed Emberly's "drawing alphabet"</p>
</div>
