<div class="col-xs-4">
    <h5>Minimal Shoes</h5>
    <iframe width="560" height="180" src="//www.youtube.com/embed/55hyLDZaDPc?rel=0" frameborder="0" allowfullscreen></iframe>
    <p>They feel like running in socks. The result of building running shoes with a 3d printer.</p>
</div>

<div class="col-xs-4">
    <h5>Eating Healthy</h5>
    <a href="http://www.amazon.com/Eat-Run-Unlikely-Ultramarathon-Greatness/dp/0544002318">
        <img class="img-responsive" src="images/eat_run_book.jpg" />
    </a>
    <p>Fantastic recipies, some of the best vegan food I've eaten alongside an honest account of ultra-running.</p>
</div>

<div class="col-xs-4">
    <h5>Hydration pack, gear pack</h5>
    <a href="http://www.irunfar.com/2013/11/new-directions-buzz-burrell-and-the-ultimate-direction-signature-series.html
">
        <img class="img-responsive" src="images/hydration_pack.jpg" />
    </a>
    <p>A look at how user centered design drastically improve a product line.</p>
</div>

<div class="col-xs-4">
    <h5>Cookbook</h5>
    Runners World Cookbook
    <p>Great recipes, simple ingredients. Organized for the runner, good eats for everyone!</p>
</div>

<div class="col-xs-4">
    <h5>Favorite New Food: Vegan Wings</h5>
    <a href="http://www.ordinaryvegetarian.com/2009/12/tempeh-hot-wings.html">Link 1</a> and <a href="http://evolvevegan.blogspot.com/2013/06/cauliflower-wings-revisited.html">Link 2</a> 
    <p>fantastic!</p>
</div>
