<div class="row">
    <div class="col-xs-12">
        <h1>Tactile Touch</h1>

        <h2>Concept</h2>
        <img class="img-responsive" src="images/work/tactileipad/slideshow/ipad-raisedkeys.jpg" />
        <p>We imagined a touchscreen surface made of pins. The pins could be raised or lowered to create different surfaces.</p>

        <img class="img-responsive" src="images/work/tactileipad/slideshow/ipad-standoverlay.jpg" />
        <p>We also tried a version where the keys sunk down, creating a recesed area for each key.</p>
        
        <h2>Research</h2>

        <div class="row">
          <div class="col-xs-6">
            <img class="img-responsive" src="images/work/tactileipad/process/tactileipad-patent-pins.jpg" />
          </div>
          <div class="col-xs-6">
            <img class="img-responsive" src="images/work/tactileipad/process/pins-close.jpg" />
          </div>
        </div>
        

        
    </div>
</div>
