<div class="row">
  <div class="col-md-12">
    
    <div class="page-header">
      <h2>Bookshelf</h2>
      <p>My goto references, inspiration, and guides in all areas of work and play.</p>
    </div>

    <h4>Education</h4>
    <div class="row" ng-include=" 'partials/bookshelf/education.html' "></div>

    <hr />

    <h4>Code</h4>
    <div class="row" ng-include=" 'partials/bookshelf/code.html' "></div>

    <hr />

    <h4>Business</h4>
    <div class="row" ng-include=" 'partials/bookshelf/business.html' "></div>

    <hr />

    <h4>Lifestyle</h4>
    <div class="row" ng-include=" 'partials/bookshelf/lifestyle.html' "></div>

  </div>
</div>


