<!-- <div class="row">
  <div class="col-xs-12 ">
    <div ng-repeat="item in tags | orderBy:'count':true ">
        {{item.tag}}, {{item.count}}
    </div>
  </div>
</div> -->
<!-- 
<div class="row">
  <div class="col-xs-3">
    <div class="page-header">
        <h2>Timeline</h2>
        <p>My work over the years</p>
    </div>
  </div>
</div>
 -->



<div class="row">
    
    <div class="col-xs-12">
        <p ng-repeat="group in tagGroups">
            {{group.name}}
            <span class="tag label"
                ng-repeat="tag in group.tags" 
                ng-click="tag.active = !tag.active"
                ng-style="{'background-color' : tag.color}">
                {{tag.name}}
                <span class="x-out" ng-show="tag.active"> &times;</span>
            </span>
        </p>
    </div>

    <div class="col-xs-12">
        <div ng-include=" 'partials/timeline/lines.html' "></div>
    </div>

    <div class="col-xs-12">

        <div ng-include=" 'partials/timeline/timeline_items_list.html' "></div>

        <div ng-include=" 'partials/timeline/timeline_no_items.html' "></div>

    </div>

</div>


<div class="footer">
    <p>Copyright 1999-2014 Matt Miller</p>
</div>
