<!-- <div class="row">
  <div class="col-xs-12 ">
    <div ng-repeat="item in tags | orderBy:'count':true ">
        {{item.tag}}, {{item.count}}
    </div>
  </div>
</div> -->
<!-- 
<div class="row">
  <div class="col-xs-3">
    <div class="page-header">
        <h2>Timeline</h2>
        <p>My work over the years</p>
    </div>
  </div>
</div>
 -->

<div class="row">
    
    <div class="col-xs-12">

        <div class="col-xs-3 select-history" ng-mouseleave="countDownToHide()">       

            <div ng-include=" 'partials/timeline/tags_input.html' "></div>

            <hr />

            <div ng-include=" 'partials/timeline/timeline_items_list.html' "></div>

            <div ng-include=" 'partials/timeline/timeline_no_items.html' "></div>

        </div>

        <div class="col-xs-8 affix col-xs-offset-3">
            
            <div class="row">
                <div class="timeline-modal col-xs-4 affix" ng-show="activeItem" ng-mouseenter="cancelTimeout()" ng-mouseleave="countDownToHide()">
                    <p ng-click="activeItem = null">&times;</p>
                    <h2>{{activeItem.title}}</h2>
                    <p ng-bind-html="activeItem.desc"></p>
                </div>
            </div>

            <div class="row">
                
                <div class="col-xs-12">
                    <p ng-repeat="item in colorCats">
                    {{item.type}}
                    <span class="tag label"
                        ng-click="setActiveTag(tag)"
                        ng-repeat="tag in item.tags" 
                        ng-style="getBgColorForTag(tag)">
                        {{tag}}
                    </span>
                    </p>
                </div>
            
                <div class="col-xs-12">
                    <div ng-include=" 'partials/timeline/tags_chart.html' "></div>
                </div>

            </div>

        </div>

    </div>

</div>


<div class="footer">
    <p>Copyright 1999-2014 Matt Miller</p>
</div>
