<!-- <div class="jumbotron">
  <h1>Design and develop!</h1>
</div> -->

<!-- <div class="row">
  <div class="col-xs-12 ">
    <div ng-repeat="item in tags | orderBy:'count':true ">
        {{item.tag}}, {{item.count}}
    </div>
  </div>
</div>
 -->

<div class="row">
  <div class="col-xs-12 select-history">

    <h2>Select Timeline</h2>

    <input type="text" class="form-control" ng-model="filterTerm" />

    <div ng-repeat="year in years | orderBy:'year':true ">

      <h4>{{year.year}}</h4>
      
      <div 
       ng-show="filterTerm === '' || item.match == true" 
       ng-repeat="item in year.items">
        <h5>{{item.title}}</h5>
        <p>{{item.desc}}</p>
      </div>

      <hr ng-if="!$last" />

    </div>

  </div>
</div>


<div class="footer">
  <p>Copyright 1999-2014 Matt Miller</p>
</div>
