<div class="row">
  <div class="col-md-12">
    
    <div class="page-header">
      <h2>Projects</h2>
    </div>

    <div class="media" ng-click="goTo('/projects/lego-fabrication-shop')">
      <div class="pull-left">
        <img class="media-object img-small" src="http://2.bp.blogspot.com/_xzIRL9jR_CQ/Sk1MYMdiyhI/AAAAAAAAADI/UFxomk6vaNo/s1600/Alphabet%2Bof%2Bshapes%2Bfinal.jpg" alt="Ed Emberly's Drawing Alphabet">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Lego Fabrication Shop</h4>
        <p>Ed Emberly's drawing alphabet brings a similar system to drawing. By mastering the "visual alphabet" as Emberly defines it, children lean the fundamental elements from which you can draw anything! In my experience, students armed with this system (we provided the basic shapes cut from construction paper) were able to quickly bring many ideas to form, rather than getting held up on details.</p>
      </div>
    </div>

    <div class="media" ng-click="goTo('/projects/draw-me-a-story')">
      <div class="pull-left">
        <img class="media-object img-small" src="http://2.bp.blogspot.com/_xzIRL9jR_CQ/Sk1MYMdiyhI/AAAAAAAAADI/UFxomk6vaNo/s1600/Alphabet%2Bof%2Bshapes%2Bfinal.jpg" alt="Ed Emberly's Drawing Alphabet">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Systems for drawing</h4>
        <p>Ed Emberly's drawing alphabet brings a similar system to drawing. By mastering the "visual alphabet" as Emberly defines it, children lean the fundamental elements from which you can draw anything! In my experience, students armed with this system (we provided the basic shapes cut from construction paper) were able to quickly bring many ideas to form, rather than getting held up on details. </p>
      </div>
    </div>

    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-small" src="http://2.bp.blogspot.com/_xzIRL9jR_CQ/Sk1MYMdiyhI/AAAAAAAAADI/UFxomk6vaNo/s1600/Alphabet%2Bof%2Bshapes%2Bfinal.jpg" alt="Ed Emberly's Drawing Alphabet">
      </a>
      <div class="media-body">
        <h4 class="media-heading">Systems for drawing</h4>
        <p>Ed Emberly's drawing alphabet brings a similar system to drawing. By mastering the "visual alphabet" as Emberly defines it, children lean the fundamental elements from which you can draw anything! In my experience, students armed with this system (we provided the basic shapes cut from construction paper) were able to quickly bring many ideas to form, rather than getting held up on details. </p>
      </div>
    </div>

  </div>
</div>