<div class="row">
  <div class="col-md-12">
    
    <div class="page-header">
      <h2>Projects</h2>
    </div>

    <div class="media" ng-click="goTo('/projects/lego-fabrication-shop')">
      <div class="pull-left">
        <img class="media-object img-small" src="images/labs/legoworkshop/images/workshop2-more-equipt-960.jpg" alt="Lego Fabrication Shop">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Lego Fabrication Shop</h4>
        <p>My graduate school fabrication shop, built in LEGOs!</p>
      </div>
    </div>

    <div class="media" ng-click="goTo('/projects/thinkering-stories')">
      <div class="pull-left">
        <img class="media-object img-small" src="images/labs/thinkeringstories/images/buildplaylearn-drawing-parts.jpg" alt="Thinkering Stories">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Thinkering Stories</h4>
        <p>An app that lets children capture the imaginative stories behind their drawings.</p>
      </div>
    </div>

    <div class="media" ng-click="goTo('/projects/tactile-touch')">
      <div class="pull-left">
        <img class="media-object img-small" src="images/work/tactileipad/slideshow/ipad-raisedkeys.jpg" />
      </div>
      <div class="media-body">
        <h4 class="media-heading">Tactile Touch</h4>
        <p>A concept to make touch screens tactile again.</p>
      </div>
    </div>

  </div>
</div>