/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		
		color: black;
		font-family: "Arial", Sans-serif;
		font-size: 1em;
		line-height: 1.5em;	
		background: white;	
	}
	
	p.caption {
		font-size: .8em;
		line-height: 1.1em;	
		font-style: italic;
		color: black;
		color: #404041;
		margin-bottom: 2em;
	}
	
	p {
		margin-bottom: 1em;
	}
	
	#intro_row {
		overflow: visible;
		z-index: -1;
	}
	
	#intro {
		margin-top: -100px;
		overflow: visible;
	}
	
	h1 {
		font-size: 60px;
		line-height: 60px;
		font-style: italic;
		position: relative;
		z-index: 100;
		color: #E2624B;
		
	}
	
	h2 {
		margin-top: 0.8em;		
		font-size: 1.6em;
		line-height: 1.6em;
		font-weight: 100;
	}
	
	h3 {
		color: #E2624B;
	}
	
	ol {
		padding-left: 40px;
		padding-top: 1em;
		padding-bottom: 1em;
		
	}
	
	ol li {
		list-style-type: decimal;
		font-style: italic;
		
	
	}
	

	
	
	
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	
	#intro {
		margin-top: 0;
		overflow: hidden;
		font-size: .8em;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}